<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
</head>

<body>
    <% include partials/nav.ejs %>
    <h1>this is contact page</h1>

    <form class="contact-form" action="/contact" method="post">
      <label for="name">What is your name? </label>
      <input type="text" name="name" value="<%= qs.person %>">
      <label for="age">How old are you? </label>
      <input type="text" name="age" value="<%= qs.age %>">
      <input type="submit" name="" value="submit">
    </form>
</body>

</html>
